{{- $full_name := promptStringOnce . "full_name" "Nom complet" -}}
{{- $email := promptStringOnce . "email" "Email" -}}
{{- $git_pubkey := promptStringOnce . "git_pubkey" "Git public SSH key" -}}
{{- $claude_aws_profile := promptStringOnce . "claude_aws_profile" "AWS profile for Claude Code SSO" -}}

[data]
    full_name = {{ $full_name | quote }}
    email = {{ $email | quote }}
    git_pubkey = {{ $git_pubkey | quote }}
    claude_aws_profile = {{ $claude_aws_profile | quote }}
