{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "awsAuthRefresh": "aws sso login --profile {{ .claude_aws_profile }}",
  "env": {
    "AWS_PROFILE": "{{ .claude_aws_profile }}",
    "AWS_REGION": "{{ .claude_aws_region }}"
  },
  "permissions": {
    "allow": [
      "Bash(gh pr edit --body:*)",
      "Bash(gh pr view:*)",
      "Bash(kubectl get:*)",
      "Bash(kubectl config current-context)",
      "Bash(kubectl config set-context:*)",
      "Bash(helm list:*)",
      "Bash(pre-commit run)",
      "Bash(kubeclt describe)"
    ],
    "deny": [
      "Bash(curl:*)"
    ]
  },
  "enabledPlugins": {
    "feature-dev@claude-code-plugins": true,
    "context7-plugin@context7-marketplace": true,
    "code-review@claude-code-plugins": true,
    "pr-review-toolkit@claude-code-plugins": true,
    "ralph-wiggum@claude-code-plugins": true,
    "document-skills@anthropic-agent-skills": true,
    "example-skills@anthropic-agent-skills": true
  },
  "extraKnownMarketplaces": {
    "anthropic-agent-skills": {
      "source": {
        "source": "github",
        "repo": "anthropics/skills"
      }
    }
  },
  "autoUpdatesChannel": "stable"
}
