{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "awsAuthRefresh": "aws sso login --profile {{ .claude_aws_profile }}",
  "env": {
    "AWS_PROFILE": "{{ .claude_aws_profile }}",
    "AWS_REGION": "{{ .claude_aws_region }}"
  },
  "permissions": {
    "allow": [
      "Bash(gh pr edit --body:*)",
      "Bash(gh pr view:*)",
      "Bash(kubectl get:*)",
      "Bash(kubectl config current-context)",
      "Bash(kubectl config set-context:*)",
      "Bash(helm list:*)",
      "Bash(pre-commit run)",
      "Bash(kubeclt describe)"
    ],
    "deny": [
      "Bash(curl:*)"
    ]
  },
  "enabledPlugins": {
    "feature-dev@claude-code-plugins": true,
    "context7-plugin@context7-marketplace": true,
    "code-review@claude-code-plugins": true,
    "pr-review-toolkit@claude-code-plugins": true,
    "ralph-wiggum@claude-code-plugins": true,
    "document-skills@anthropic-agent-skills": true,
    "example-skills@anthropic-agent-skills": true,
    "chrome-devtools-mcp@chrome-devtools-plugins": true,
    "caveman@caveman": true,
    "superpowers@superpowers-marketplace": true,
    "claude-mem@thedotmack": true
  },
  "extraKnownMarketplaces": {
    "anthropic-agent-skills": {
      "source": {
        "source": "github",
        "repo": "anthropics/skills"
      }
    },
    "chrome-devtools-plugins": {
      "source": {
        "source": "github",
        "repo": "ChromeDevTools/chrome-devtools-mcp"
      }
    },
    "caveman": {
      "source": {
        "source": "github",
        "repo": "JuliusBrussee/caveman"
      }
    },
    "superpowers-marketplace": {
      "source": {
        "source": "github",
        "repo": "obra/superpowers-marketplace"
      }
    },
    "thedotmack": {
      "source": {
        "source": "github",
        "repo": "thedotmack/claude-mem"
      }
    }
  },
  "autoUpdatesChannel": "stable",
  "model": "sonnet",
  "statusLine": {
    "type": "command",
    "command": "bash ~/.claude/statusline-command.sh"
  }
}
